@media(max-width: 1200px){
    .cabecalho .titulo{
        font-size: 40px;
    }

    .selecao-de-personagens .lista-de-personagens{
        max-width: 330px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 767px){
    body::before{
        background: url(../imagens/bg-mobile.jpg) center no-repeat;
        background-size: cover;
        opacity: 1;
    }

    main{
        padding: 0 5px;
    }
    .cabecalho .titulo{
        font-size: 20px;
        line-height: normal;
    }

    .selecao-de-personagens{
        flex-direction: column;
        gap: 28px;
    }

    .selecao-de-personagens .personagem-grande{
        height: 44vh;
    }

    .selecao-de-personagens .personagem-grande img{
        width: 220px;
        height: 300px;

    }

    .selecao-de-personagens .personagem-grande .nome::before{
        bottom: -13px;
        height: 20px;
    }

    .selecao-de-personagens .personagem-grande .nome h2{
        font-size: 20px;
    }

    .selecao-de-personagens .personagem-jogador-2{
        display: none;
    }
    
}

@media(max-height: 786px){
    .selecao-de-personagens .personagem-grande{
        height: 38vh;
    }
    .selecao-de-personagens .personagem-grande img{
        width: 200px;
        height: 270px;
    }

    .selecao-de-personagens .personagem-grande .nome::before{
        bottom: -13px;
        height: 20px;
    }

    .selecao-de-personagens .personagem-grande .nome h2{
        font-size: 20px;
    }
}
